
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Factory/CommentFactory.js"></script>
<script src="~/Scripts/Controller/CommentController.js"></script>

<section ng-controller="CommentController">
    <label>{{Name}}</label>
    <label>{{Company}}</label>
    <label>{{Role}}</label>
    <div ng-init="GetComments()">
        <div ng-repeat="item in Comments">
            <span>{{item.id}}</span>
            <span>{{item.Section}}</span>
            <span>{{item.CommentRemarks}}</span>
            <span>{{item.Comments}}</span>
        </div>
    </div>
</section>